* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
   
}

body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
     overflow-x: hidden;
     width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #020617;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    

}

ul {
    list-style: none;
    display: flex;
}

nav a {
    color: #e2e8f0;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
     
}

nav a:hover {
    color: #38bdf8;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo span {
    color: #38bdf8;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    min-height: 100vh;
    background-color: #0f172a;
    color: white;
    gap: 80px;
    margin-top: 30px;

}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-text h1 span {
    color: #38bdf8;
}

.hero-text h2 {
    font-size: 28px;
    color: #94a3b8;
    margin-bottom: 20px;
    /* display: inline-block; */
    max-width: 310px;
    overflow: hidden;
    white-space: nowrap;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.8;
    color: #cbd5e1;
    margin-bottom: 20px;
    max-width: 600px;
}

.btn {
    padding: 12px 24px;
    background-color: #38bdf8;
    color: #0f172a;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #38bdf8;

}

.typing {
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    /* jo comment kar rakha hai is cursor hide ho ja raha hai islie comment kar diye */
    /* border-right: 3px solid #00f7ff; */
    animation: typing 4s steps(30) infinite alternate, blink 0.8s infinite;
    ;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }

}

@keyframes blink {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #00f7ff;
    }

    100% {
        border-color: transparent;
    }
}
.btn:hover {
    background-color: #0f172a;
    color: #38bdf8;
    border: 2px solid #38bdf8;
}

.about-section{
    padding: 80px, 10%;
    background-color: #111827;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

}
.about-image{
    flex: 1;
    text-align: center;


}
 .about-image img{
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(50,189,248,0.3);
    
}
.about-text{
    flex: 1;
}
.about-text h2{
    font-size: 36px;
    color: #38bdf8;
    margin-bottom: 20px;
}
p{
    font-size: 18px;
    color:  #cbd5e1;
    line-height: 1.8;
    margin-bottom: 18px;
}
.btn2{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    padding: 12px 25px;
    background-color: #38bdf8;
    border-radius: 8px;
    color: #0f172a;
    font-weight: bold;
    transition: all 0.5s ease;
}
.btn2:hover{
    background-color: green;
    border: 2px solid #38bdf8;
    
}

.skill-section{
    padding: 90px 10%;
    background-color: #0a0f1f;
    color: white;
}
.skill-container{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.skill-title{
    font-size: 2.5rem;
    color: #00f7ff;
    margin-bottom: 15px;
}
.skill-subtitle{
    font-size: 1 rem;
    color: #b8c2d6;
    margin: 0 auto 50px;
    max-width: 700px;
    line-height: 1.8;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;

}
.skill-card{
    position: relative;
    padding: 30px,20px;
    border-radius: 18px;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.75)),
    url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?auto=format&fit=crop&w=900&q=80");
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(0, 247, 255, 0.2);
    box-shadow: 0 0 15px rgba(0, 247, 255, 0.08);
    transition: transform 0.4s ease, box shadow 0.4s ease;

}
.skill-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 247, 255, 0.4);
    cursor: pointer;
}
.skill-card h3{
    font-size: 1.5rem;
    color: #38bdf8;
    line-height: 1.7;
}
.skill-card p{
    font-size: 0.95rem;
    color: #e6eefc;
}

@media (max-width: 768px){
    .skill-section{
        padding: 70px 6%;
    }

    .skill-title{
        font-size: 2rem;
    }
    .skill-subtitle{
        font-size: 0.95rem;
        margin-bottom: 35px;
    }
    .skill-card{
        padding: 25px 18px;
    }
    .skill-card h3{
        font-size: 1.3rem;
    }
    .skill-card p{
        font-size: 0.9rem;
    }
}

.project-section {
  padding: 90px 10%;
  background: #0a0f1f;
  color: white;
}

.project-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.project-title {
  font-size: 2.5rem;
  color: #00f7ff;
  margin-bottom: 10px;
}

.project-subtitle {
  color: #b8c2d6;
  margin-bottom: 50px;
  line-height: 1.6;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  padding: 25px;
  border-radius: 15px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),
              url("https://images.unsplash.com/photo-1498050108023-c5249f4df085");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  border: 1px solid rgba(0,247,255,0.2);
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card h3 {
  color: #00f7ff;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #e6eefc;
}

.project-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.3s;
  font-weight: 500;
}

.github {
  background: transparent;
  border: 1px solid #00f7ff;
  color: #00f7ff;
}

.github:hover {
  background: #00f7ff;
  color: #0a0f1f;
}

.project-card-portfolio {
    margin-top: 10px;
     padding: 25px;
  border-radius: 15px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),
              url("https://images.unsplash.com/photo-1498050108023-c5249f4df085");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  border: 1px solid rgba(0,247,255,0.2);
}
.project-card-portfolio:hover {
     transform: translateY(-10px);
     
}
/* project section end */